<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试邮件</title>
    <link rel="stylesheet" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/easyui/themes/icon.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/icons.css}">
</head>
<body class="easyui-layout">
<div data-options="region: 'center'" style="padding: 30px;">
    本功能暂没开放.........................
</div>
<script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript" th:src="@{/easyui/locale/easyui-lang-zh_CN.js}"></script>
</body>
</html>
